body {
    font-family: 'Poppins', sans-serif;
}

footer {
    background: #F9F9FF;
}

a {
    text-decoration: none;
}

footer .footer-content {
    max-width: 1141px;
    margin: 0 auto;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

footer .footer-content .icon-section{
    display: flex;
    gap: 36px;
}

footer .footer-content .horizontal-line{
    border-bottom: 1px solid #9E9E9E;
}

footer .footer-content p {
    color: #9E9E9E;
    font-weight: 500;
    font-size: 18px;
}

footer .footer-content .footer-links ul{
    display: flex;
    align-items: center;
}

footer .footer-content .footer-links li a {
    color: #252525;
    font-weight: 500;
}

footer .footer-content .footer-links li:nth-child(1) {
    padding-right: 18px;
    border-right: 1px solid #9E9E9E;
}

footer .footer-content .footer-links li:nth-child(2) {
    padding: 0 18px;
    border-right: 1px solid #9E9E9E;
}

footer .footer-content .footer-links li:nth-child(3) {
    padding-left: 18px;
}


/* RESPONSIVE  */

@media (max-width: 1200px) {
    footer .footer-content {
        max-width: 900px;
    }
}

@media (max-width: 900px) {
    footer .footer-content {
        max-width: 600px;
    }
}

@media (max-width: 700px) {
    footer .footer-content {
        max-width: 450px;
    }

    footer .footer-content .icon-section svg {
        width: 25px;
        height: 25px;
    }

    footer .footer-content p , footer .footer-content .footer-links{
        font-size: 12px;
    }
}

@media (max-width: 540px) {
    footer .footer-content {
        max-width: 350px;
    }

    footer .footer-content .icon-section svg {
        width: 20px;
        height: 20px;
    }

    footer .footer-content p , footer .footer-content .footer-links{
        font-size: 10px;
    }
}