body {
    font-family: 'Poppins', sans-serif;
}

.btn_logo{
    position: absolute;
    top:4%;
    left:3%;
  }

  .btn_logo img{
    width: 50%;
    height: 50%;
  }


main .artwork {
    box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
}

main .artwork:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

main .artwork img {
    width: 100%;
}

main .artwork .tag {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #F9F9FF;
    border-radius: 100px;
    font-weight: 600;
    background-color: #2A3084;
}

main .container {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

main .grid {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    column-gap: 6.4rem;
    row-gap: 9.6rem;
}

main .artwork .artwork-content {
    padding: 3.2rem 4.8rem 4.8rem 3rem;
}

main .artwork .artwork-content .artwork-tag {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.4rem;
}

main .artwork-content h4 {
    font-size: 1.5rem;
    color: #000;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

main .artwork-content .price {
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
}



/* FOOTER  */
footer {
    background: #F9F9FF;
}

a {
    text-decoration: none;
}

footer .footer-content {
    width: 1141px;
    margin: 0 auto;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

footer .footer-content .icon-section{
    display: flex;
    gap: 36px;
}

footer .footer-content .horizontal-line{
    border-bottom: 1px solid #9E9E9E;
}

footer .footer-content p {
    color: #9E9E9E;
    font-weight: 500;
    font-size: 18px;
}

footer .footer-content .footer-links ul{
    display: flex;
    align-items: center;
}

footer .footer-content .footer-links li a {
    color: #252525;
    font-weight: 500;
}

footer .footer-content .footer-links li:nth-child(1) {
    padding-right: 18px;
    border-right: 1px solid #9E9E9E;
}

footer .footer-content .footer-links li:nth-child(2) {
    padding: 0 18px;
    border-right: 1px solid #9E9E9E;
}

footer .footer-content .footer-links li:nth-child(3) {
    padding-left: 18px;
}
