body {
    margin: auto 0;
    font-family: "poppins", sans-serif;
    background-color: #FDFDFD;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

.presentation {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 90px 15% 90px 15%;
    gap: 100px;
    width: 100%;
    height: 100%;
  }

  .values {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 90px 10% 90px 10%;
    gap: 32px;
    width: 100%;
    height: 100%;
    background-color: #2A3084;
  }

  .values .value_box{
    background: #F9F9FF;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 40px;
    gap: 16px;
    color: #2A3084;
    
    width: 340px;
    height: 299px;
  }

  .values .value_box h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }

section h1{
    font-weight: 700;
    font-size: 54px;
    line-height: 100%;
    display: flex;
    align-items: center;
}

section h2{
  font-weight: 600;
   font-size: 32px;
}

@media (max-width: 900px){

  .presentation {
    padding: 90px 10% 90px 10%;
    gap: 50px;
    width: 100%;
    height: 100%;
  }

  .presentation img{
    width: 40%;
    height: 40%;
  }

    .values .value_box{
        padding: 30px 20px;
        gap: 10px;
        
        width: 300px;
        height: 240px;
    }

    section h1{
      font-size: 45px;
  }


}