body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: "poppins", sans-serif;
    background-color: #FDFDFD;
  }

.background_cookies_popin{
    background-color: #2a3084;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    overflow: hidden;
}

.cookies_popin{
    padding: 10px 50px;
    width: 570px;
    height: 620px;
    background-color: #FDFDFD;
    border-radius: 14px;
    color: #252525;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.cookies_explications{
    padding: 32px 0px;
}

.cookies_popin h2{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 16px;
}

.cookies_popin p{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
    line-height: normal;
}

.cookies_popin h3{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 16px;
}

.cookies_popin .btn1{
    cursor: pointer;
    color: #616161;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.primary_cta{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cookies_popin .btn2{
    display: inline;
    color: #090B56;
    border: 3px solid #090B56;
    border-radius: 14px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    width: 400px;
    padding: 15px 30px;
}

.cookies_popin .btn3{
    display: inline;
    color: #FDFDFD;
    border: 3px solid #090B56;
    background-color: #090B56;
    border-radius: 14px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    width: 400px;
    padding: 15px 30px;
}